# Output files
*.png
*.csv

# test outputs
*.coverage
.coverage
coverage.xml

# Python runtime
*.pyc
*.egg-info
.pytest_cache
.ipynb_checkpoints
.ipynb_checkpoints/
__pycache__
__pycache__/

# Virtual environments
venv/
.venv/

# old versions and outputs and figures
old_notebooks/
figures/
outputs/
