# Output files
*.png
*.csv

# Python runtime
*.pyc
*.egg-info
.pytest_cache
.ipynb_checkpoints

# Virtual environments
venv/
.venv/

# old versions and outputs and figures
old_notebooks/
figures/
outputs/