adc-streaming @ file:///home/conda/feedstock_root/build_artifacts/adc-streaming_1633456047269/work
ads==0.12.3
amqp @ file:///home/conda/feedstock_root/build_artifacts/amqp_1646564891451/work
anyio==3.6.1
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1640855140139/work
arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1613942767734/work
astroid @ file:///home/conda/feedstock_root/build_artifacts/astroid_1642536830593/work
astroplan @ file:///home/conda/feedstock_root/build_artifacts/astroplan_1611677359782/work
astropy @ file:///home/conda/feedstock_root/build_artifacts/astropy_1636583264029/work
astropy-healpix @ file:///home/conda/feedstock_root/build_artifacts/astropy-healpix_1636593173844/work
astroquery==0.4.5
asttokens==2.0.5
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
Automat==20.2.0
awkward @ file:///home/conda/feedstock_root/build_artifacts/awkward_1646201821898/work
awkward0 @ file:///home/conda/feedstock_root/build_artifacts/awkward0_1613249222011/work
Babel==2.10.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
BayesWaveUtils @ file:///home/conda/feedstock_root/build_artifacts/bayeswave_1637757343059/work/BayesWaveUtils
bcrypt @ file:///home/conda/feedstock_root/build_artifacts/bcrypt_1636021274623/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1631087867185/work
bilby==1.1.5
bilby-pipe @ file:///home/conda/feedstock_root/build_artifacts/bilby_pipe_1621266950441/work
billiard @ file:///home/conda/feedstock_root/build_artifacts/billiard_1636131239898/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1622561163993/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
bottle @ file:///home/conda/feedstock_root/build_artifacts/bottle_1591809651423/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1636012194889/work
bruco @ file:///home/conda/feedstock_root/build_artifacts/bruco_1607699075741/work
build @ file:///home/conda/feedstock_root/build_artifacts/build_1631843634284/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol_1636141468892/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1640686991047/work
cachy==0.3.0
cairocffi @ file:///home/conda/feedstock_root/build_artifacts/cairocffi_1608498260428/work
CairoSVG @ file:///home/conda/feedstock_root/build_artifacts/cairosvg_1615362733177/work
cdshealpix @ file:///home/conda/feedstock_root/build_artifacts/cdshealpix_1637262637711/work
cdsutils @ file:///home/conda/feedstock_root/build_artifacts/cdsutils_1594377738643/work
celery @ file:///home/conda/feedstock_root/build_artifacts/celery_1624953727613/work
celery-eternal==0.1.1
celery-singleton @ file:///home/conda/feedstock_root/build_artifacts/celery-singleton_1610709511781/work
certifi==2021.10.8
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046055389/work
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1646332922388/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
ciecplib @ file:///home/conda/feedstock_root/build_artifacts/ciecplib_1642355543578/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1639678626660/work
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl @ file:///home/conda/feedstock_root/build_artifacts/click-repl_1623347986327/work
clikit @ file:///home/conda/feedstock_root/build_artifacts/clikit_1591735638473/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
cmarkgfm @ file:///home/conda/feedstock_root/build_artifacts/cmarkgfm_1646475945294/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
coloredlogs @ file:///home/conda/feedstock_root/build_artifacts/coloredlogs_1643220139154/work
Comet==3.1.0
ConfigArgParse @ file:///home/conda/feedstock_root/build_artifacts/configargparse_1633358864834/work
configobj==5.0.6
configparser @ file:///home/conda/feedstock_root/build_artifacts/configparser_1638573090458/work
confluent-kafka @ file:///home/conda/feedstock_root/build_artifacts/python-confluent-kafka_1636139542242/work
constantly==15.1.0
corner @ file:///home/conda/feedstock_root/build_artifacts/corner_1615380253769/work
coverage @ file:///home/conda/feedstock_root/build_artifacts/coverage_1645626510977/work
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1643220351006/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1610338668572/work
cssselect2==0.2.1
cwinpy==0+unknown
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1645125462806/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
dbus-python @ file:///home/conda/feedstock_root/build_artifacts/dbus-python_1636126507093/work
dcc @ file:///home/conda/feedstock_root/build_artifacts/dcc_1643367850521/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1636043249011/work
declarative @ file:///home/conda/feedstock_root/build_artifacts/declarative_1633449219742/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deepdish @ file:///home/conda/feedstock_root/build_artifacts/deepdish_1594193790041/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1632758190537/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1604312823872/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1638990147493/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1646621171513/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1637699654198/work
dqsegdb @ file:///home/conda/feedstock_root/build_artifacts/dqsegdb_1643389198499/work
dqsegdb2==1.0.1
dttxml @ file:///home/conda/feedstock_root/build_artifacts/dttxml_1632991913882/work
dynesty==1.0.1
e==1.4.5
emcee==0.0.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
ephem @ file:///home/conda/feedstock_root/build_artifacts/ephem_1645531335805/work
execnet @ file:///home/conda/feedstock_root/build_artifacts/execnet_1623615976382/work
executing==0.8.3
ezca @ file:///home/conda/feedstock_root/build_artifacts/ezca_1590660923411/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1645136850180/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1646781084538/work
flaky @ file:///home/conda/feedstock_root/build_artifacts/flaky_1594311722678/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1644887820294/work
Flask-Cache==0.13.1
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/flask-sqlalchemy_1616102249273/work
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
framel==8.41.3
freezegun @ file:///home/conda/feedstock_root/build_artifacts/freezegun_1646315387296/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1635819506105/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1635085722655/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1645531658201/work
gpstime @ file:///home/conda/feedstock_root/build_artifacts/gpstime_1643672473101/work
gracedb-sdk==0.1.6
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1635836790477/work
gssapi @ file:///home/conda/feedstock_root/build_artifacts/python-gssapi_1645400731037/work
guardian @ file:///home/conda/feedstock_root/build_artifacts/guardian_1610416103673/work
gwdatafind @ file:///home/conda/feedstock_root/build_artifacts/gwdatafind_1643410769299/work
gwdetchar @ file:///home/conda/feedstock_root/build_artifacts/gwdetchar_1638354468913/work
gwinc @ file:///home/conda/feedstock_root/build_artifacts/gwinc_1610217590193/work
gwosc @ file:///home/conda/feedstock_root/build_artifacts/gwosc_1595854944023/work
gwpopulation==0.7.0
gwpy @ file:///home/conda/feedstock_root/build_artifacts/gwpy_1639750513842/work
gwsumm @ file:///home/conda/feedstock_root/build_artifacts/gwsumm_1610820822252/work
gwsurrogate @ file:///home/conda/feedstock_root/build_artifacts/gwsurrogate_1638970052389/work
gwtools @ file:///home/conda/feedstock_root/build_artifacts/gwtools_1635143320314/work
gwtrigfind==0.8.0
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1637963928098/work
halo @ file:///home/conda/feedstock_root/build_artifacts/halo_1605107386315/work
healpy @ file:///home/conda/feedstock_root/build_artifacts/healpy_1643054739592/work
hop-client @ file:///home/conda/feedstock_root/build_artifacts/hop-client_1634141665046/work
htchirp @ file:///home/conda/feedstock_root/build_artifacts/htchirp_1592920824085/work
htcondor==9.0.9
htmap @ file:///home/conda/feedstock_root/build_artifacts/htmap_1615304293290/work
html2text==2020.1.16
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
humanfriendly @ file:///home/conda/feedstock_root/build_artifacts/humanfriendly_1643137149174/work
humanize @ file:///home/conda/feedstock_root/build_artifacts/humanize_1644757668428/work
hveto @ file:///home/conda/feedstock_root/build_artifacts/hveto_1608151564354/work
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
iDQ @ file:///home/conda/feedstock_root/build_artifacts/idq_1616702659295/work
igwn-alert @ file:///home/conda/feedstock_root/build_artifacts/igwn-alert_1641401829880/work
igwn-archive @ file:///home/conda/feedstock_root/build_artifacts/igwn-archive_1644498235692/work
igwn-auth-utils @ file:///home/conda/feedstock_root/build_artifacts/igwn-auth-utils_1640033135764/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1647210358856/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1621907170877/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
inspiral-range @ file:///home/conda/feedstock_root/build_artifacts/inspiral-range_1644273320460/work
ipyaladin @ file:///home/conda/feedstock_root/build_artifacts/ipyaladin_1620151754177/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1647271115035/work/dist/ipykernel-6.9.2-py3-none-any.whl
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1645174282670/work
ipyparallel @ file:///home/conda/feedstock_root/build_artifacts/ipyparallel_1644255499464/work
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1647456365981/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1646849180040/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1637175083648/work
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1627546597665/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5==0.9.8
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1642000296051/work
jupyter @ file:///tmp/build/80754af9/jupyter_1607700846274/work
jupyter-client==7.3.4
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1646669715337/work
jupyter-core==4.10.0
jupyter-server==1.17.0
jupyterlab==3.4.2
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server==2.13.0
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1647446862951/work
kafka-python @ file:///home/conda/feedstock_root/build_artifacts/kafka-python_1601470752419/work
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1643122042017/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1647351495879/work
kombine==0.8.4
kombu @ file:///home/conda/feedstock_root/build_artifacts/kombu_1646562058801/work
lalsuite @ file:///home/conda/feedstock_root/build_artifacts/lalsuite_1642415011270/work
lark-parser @ file:///home/conda/feedstock_root/build_artifacts/lark-parser_1630320752939/work
lazy-object-proxy @ file:///home/conda/feedstock_root/build_artifacts/lazy-object-proxy_1639599000529/work
libstempo @ file:///home/conda/feedstock_root/build_artifacts/libstempo_1642659092678/work
ligo-asimov @ file:///home/conda/feedstock_root/build_artifacts/ligo-asimov_1622712111599/work
ligo-common==1.0.4
ligo-followup-advocate @ file:///home/conda/feedstock_root/build_artifacts/ligo-followup-advocate_1628067392543/work
ligo-gracedb @ file:///home/conda/feedstock_root/build_artifacts/ligo-gracedb_1613992219783/work
ligo-lvalert @ file:///home/conda/feedstock_root/build_artifacts/ligo-lvalert_1602639652752/work
ligo-proxy-utils @ file:///home/conda/feedstock_root/build_artifacts/ligo-proxy-utils_1611853262089/work
ligo-raven @ file:///home/conda/feedstock_root/build_artifacts/ligo-raven_1614594577165/work
ligo-scald @ file:///home/conda/feedstock_root/build_artifacts/ligo-scald_1645113900689/work
ligo-segments @ file:///home/conda/feedstock_root/build_artifacts/ligo-segments_1636368130846/work
ligo.em-bright @ file:///home/conda/feedstock_root/build_artifacts/ligo.em-bright_1645646646679/work
ligo.skymap @ file:///home/conda/feedstock_root/build_artifacts/ligo.skymap_1629910596183/work
ligotimegps==2.0.0
lintegrate @ file:///home/conda/feedstock_root/build_artifacts/lintegrate_1643383148224/work
liquidpy @ file:///home/conda/feedstock_root/build_artifacts/liquidpy_1635401621896/work
llvmlite==0.37.0
lockfile==0.12.2
log-symbols==0.0.14
lscsoft-glue @ file:///home/conda/feedstock_root/build_artifacts/lscsoft-glue_1643044315441/work
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1645124857649/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1638019310367/work
M2Crypto @ file:///home/conda/feedstock_root/build_artifacts/m2crypto_1647460876305/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1646959760357/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1637220118004/work
MarkupPy==1.14
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1647364298597/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1636786646663/work
matplotlib-inline==0.1.3
mccabe==0.6.1
metakernel @ file:///home/conda/feedstock_root/build_artifacts/metakernel_1638460151932/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1635844679781/work
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1635819531655/work
MOCPy @ file:///home/conda/feedstock_root/build_artifacts/mocpy_1621926895559/work
mpi4py @ file:///home/conda/feedstock_root/build_artifacts/mpi4py_1637880194693/work
mpld3 @ file:///home/conda/feedstock_root/build_artifacts/mpld3_1638129408387/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1637771281198/work
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1635839744187/work
nbclassic==0.3.7
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1646999386773/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert_1647040509207/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1646951096007/work
ndscope @ file:///home/conda/feedstock_root/build_artifacts/ndscope_1631653047031/work
nest-asyncio==1.5.5
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1636302994507/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1646497321764/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1647377876077/work
notebook-shim==0.1.0
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1630259115156/work
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1636286792193/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1622014603188/work
otter-report @ file:///home/conda/feedstock_root/build_artifacts/otter-report_1608039241218/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.4.1
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1647366077930/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pastel @ file:///home/conda/feedstock_root/build_artifacts/pastel_1640899049124/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pcaspy @ file:///home/conda/feedstock_root/build_artifacts/pcaspy_1636196748490/work
pegasus-wms.api @ file:///home/conda/feedstock_root/build_artifacts/pegasus-wms.api_1633682531623/work
pegasus-wms.common @ file:///home/conda/feedstock_root/build_artifacts/pegasus-wms.common_1608046519752/work
pep517 @ file:///home/conda/feedstock_root/build_artifacts/pep517_1636052705834/work
pepredicates==0.0.3
pesummary @ file:///home/conda/feedstock_root/build_artifacts/pesummary_1640083009344/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1645323160399/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1638813452194/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1645298319244/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1644503417459/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1635832810452/work
poetry @ file:///home/conda/feedstock_root/build_artifacts/poetry_1644547058584/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1646057856213/work
portalocker @ file:///home/conda/feedstock_root/build_artifacts/portalocker_1645465641398/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1643395600215/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1644497866770/work
psrqpy @ file:///home/conda/feedstock_root/build_artifacts/psrqpy_1603193607053/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1640887138049/work
psycopg2 @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1620868686478/work
ptemcee==1.0.0
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval==0.2.2
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycairo==1.21.0
PyCBC @ file:///home/conda/feedstock_root/build_artifacts/pycbc_1645628693469/work
pycm==7.5.4
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
PyCondor==0.5.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydotplus @ file:///home/conda/feedstock_root/build_artifacts/pydotplus_1622588015615/work
pyepics @ file:///home/conda/feedstock_root/build_artifacts/pyepics_1639069911115/work
pyerfa @ file:///home/conda/feedstock_root/build_artifacts/pyerfa_1636217368532/work
pyfd==4.5.6
pyFFTW @ file:///home/conda/feedstock_root/build_artifacts/pyfftw_1641403405652/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1633634815271/work
pygcn==1.0.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
PyGObject==3.42.0
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1638819640841/work
pykerberos @ file:///home/conda/feedstock_root/build_artifacts/pykerberos_1646811625501/work
pylev @ file:///home/conda/feedstock_root/build_artifacts/pylev_1641226376343/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1638563695852/work
PyNaCl @ file:///home/conda/feedstock_root/build_artifacts/pynacl_1641804084628/work
pyomicron @ file:///home/conda/feedstock_root/build_artifacts/pyomicron_1615202336907/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
pyqtgraph @ file:///home/conda/feedstock_root/build_artifacts/pyqtgraph_1646439776350/work
PyQtWebEngine==5.12.1
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1642534390768/work
pyRXP @ file:///home/conda/feedstock_root/build_artifacts/pyrxp_1642682087103/work
pyserver @ file:///home/conda/feedstock_root/build_artifacts/pyserver_1626474648836/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1635862404942/work
pytest==7.1.0
pytest-cov @ file:///home/conda/feedstock_root/build_artifacts/pytest-cov_1633356845954/work
pytest-forked @ file:///home/conda/feedstock_root/build_artifacts/pytest-forked_1639164739767/work
pytest-mock @ file:///home/conda/feedstock_root/build_artifacts/pytest-mock_1643629135479/work
pytest-runner @ file:///home/conda/feedstock_root/build_artifacts/pytest-runner_1646158889426/work
pytest-socket @ file:///home/conda/feedstock_root/build_artifacts/pytest-socket_1643017485013/work
pytest-timeout @ file:///home/conda/feedstock_root/build_artifacts/pytest-timeout_1642575398183/work
pytest-xdist @ file:///home/conda/feedstock_root/build_artifacts/pytest-xdist_1639147489981/work
python-dateutil==2.8.2
python-gitlab @ file:///home/conda/feedstock_root/build_artifacts/python-gitlab_1646024328204/work
python-ligo-lw @ file:///home/conda/feedstock_root/build_artifacts/python-ligo-lw_1614671516579/work
PythonVirgoTools @ file:///home/conda/feedstock_root/build_artifacts/pythonvirgotools_1628252507977/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pyvo @ file:///home/conda/feedstock_root/build_artifacts/pyvo_1645470589834/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1636139833192/work
pyzmq==23.2.0
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1640876679830/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1643828301492/work
readme-renderer @ file:///home/conda/feedstock_root/build_artifacts/readme_renderer_1602693010535/work
redis @ file:///home/conda/feedstock_root/build_artifacts/redis-py_1645010473018/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1647399803322/work
reproject @ file:///home/conda/feedstock_root/build_artifacts/reproject_1636666866798/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
requests-ecp @ file:///home/conda/feedstock_root/build_artifacts/requests-ecp_1637590338473/work
requests-gracedb==0.1.3
requests-gssapi @ file:///home/conda/feedstock_root/build_artifacts/requests-gssapi_1636469109489/work
requests-kerberos @ file:///home/conda/feedstock_root/build_artifacts/requests-kerberos_1636815975694/work
requests-mock @ file:///home/conda/feedstock_root/build_artifacts/requests-mock_1622199624739/work
requests-toolbelt==0.9.1
rfc3986 @ file:///home/conda/feedstock_root/build_artifacts/rfc3986_1641825045899/work
RIFT @ file:///home/conda/feedstock_root/build_artifacts/rift_1620803169179/work
root-numpy @ file:///home/conda/feedstock_root/build_artifacts/root_numpy_1642275926538/work
safe-netrc==1.0.0
sbank @ file:///home/conda/feedstock_root/build_artifacts/sbank_1645715577775/work
schwimmbad @ file:///home/conda/feedstock_root/build_artifacts/schwimmbad_1635862196298/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1630910541692/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1644357253444/work
scitokens @ file:///home/conda/feedstock_root/build_artifacts/scitokens_1636232917718/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1636696184946/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1646753508615/work
service-identity==18.1.0
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1635864185049/work
Shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1642557142020/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sleekxmpp==1.3.3
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
sniffio==1.2.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
spinners @ file:///home/conda/feedstock_root/build_artifacts/spinners_1590128260415/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1646615291967/work
stack-data==0.3.0
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1644535581977/work
tables @ file:///home/conda/feedstock_root/build_artifacts/pytables_1643135938562/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1614001031686/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
termcolor==1.1.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1646684455438/work
testfixtures @ file:///home/conda/feedstock_root/build_artifacts/testfixtures_1646144015818/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1645693042223/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1637612658783/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomli_w @ file:///home/conda/feedstock_root/build_artifacts/tomli-w_1638551719419/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1645157766488/work
tornado==6.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1646031859244/work
traitlets==5.3.0
twine @ file:///home/conda/feedstock_root/build_artifacts/twine_1643895093454/work
Twisted @ file:///home/conda/feedstock_root/build_artifacts/twisted_1646437503244/work
typed-ast @ file:///home/conda/feedstock_root/build_artifacts/typed-ast_1643045772392/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1588939190034/work
uproot @ file:///home/conda/feedstock_root/build_artifacts/uproot_1647307123187/work
uproot3 @ file:///home/conda/feedstock_root/build_artifacts/uproot3_1613172249989/work
uproot3-methods @ file:///home/conda/feedstock_root/build_artifacts/uproot3-methods_1616094697151/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
vine @ file:///home/conda/feedstock_root/build_artifacts/vine_1604930048994/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1646682333019/work
VOEventLib==1.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1644332431572/work
wget==3.2
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1647446890517/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1635836386583/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1646254587173/work
xgboost==1.5.1
xmltodict==0.12.0
xrootd==5.4.1
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1646085109284/work
zenodo-get @ file:///home/conda/feedstock_root/build_artifacts/zenodo_get_1637816556888/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1643828507773/work
zope.interface @ file:///home/conda/feedstock_root/build_artifacts/zope.interface_1635859593352/work
zstandard @ file:///home/conda/feedstock_root/build_artifacts/zstandard_1642566412719/work
