{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<form action = "/run" method = "GET">
    <label> Define how many sets of hyperparameters you would like to sample for the analysis.</label> <br/>
      <div class="field">
  <div class="control">
    <input class="input is-primary" type="number" placeholder="No. of sets" name = "Nhyp" required>
  </div>
</div>
    <button class = "btn main-btn" type = "submit">Run sampling</button>
  </form>
<p>Running the sampling will obtain 1000 posterior samples from each set of hyperparameters.</p>
<p>Run the analysis, including the SNR and FAR generation (slower):</p>
<input type="submit" name="submit_button" value="Run Analysis">
{% endblock %}